<div class="logincontainer">

<div class="wrapper">
  <div class="loginheader">
    {{title}}
  </div>

  <div class="loginform" [formGroup]="loginForm" novalidate>
    <input type="text" formControlName="email" placeholder="email"/>
    <input type="password" formControlName="password" placeholder="password"/>
    <input type="submit"(click)="login()" value="login"/>
  </div>

  <div class="loginheader">
    Register
  </div>

  <div class="loginform" [formGroup]="registerForm" novalidate>
    <input type="text" formControlName="email" placeholder="email*"/>
    <input type="text" formControlName="firstName" placeholder="firstname"/>
    <input type="text" formControlName="lastName" placeholder="lastname"/>
    <input type="password" formControlName="password" placeholder="password*"/>
    <input type="password" formControlName="passwordCheck" placeholder="confirm password*"/>
    <input type="submit"(click)="register()" value="register"/>
  </div>
  <div class="loginactions">

  </div>
</div>
</div>
