.logincontainer{
  margin-bottom: auto;
  justify-content: center;
  padding-top: 50px;
  display: flex;
  border-radius: 25px;
}

.loginheader{
  background-color: #3A76AC;
  color: white;
  text-align: center;
}

.loginform{
  background-color: gray;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.ng-invalid{
  border-color: red;
}

.loginactions{
  background-color: red;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

input{
  padding-top: 5px;
}
